{% extends "C33sToolkitLayoutBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite,lessphp,?uglifycss' output='media/generated/css/app.css' combine=true
        '@c33s_app_stylesheets'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block upper_javascripts %}
    {{ parent() }}

    <!--[if lt IE 9]>
        <script src="{{ asset('media/components/html5shiv/dist/html5shiv.js') }}"></script>
    <![endif]-->

    {% javascripts output='media/generated/js/app_top.js' combine=true
        '@c33s_app_top_javascripts'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascripts %}
    <!-- scripts -->
    {% block bootstrap3_app_javascripts %}
        {% javascripts output='media/generated/js/app.js' combine=true filter='?uglifyjs2'
            '@c33s_app_javascripts'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {{ parent() }}
{% endblock %}
